
.template2-career-viewer-container{
  background-color: rgb(219, 212, 197);
  margin-top: 102px;
}

.template2-career-viewer-item-container{
  margin-top: 100px !important;
  box-shadow: 20px 20px 20px grey;
  background-color: white
}

.template2-career-viewer-item-title{
  background: transparent;
  font-size: 30px;
  font-weight: 700;
  width: 100%;
}
.template2-career-viewer-item-intro{
  background: transparent;
  height: 250px;
  max-height: 250px;
  width: 75%;
  font-size: 22px;
}
.template2-career-viewer-item-date{
  background: transparent;
  margin: 10px;
  font-size: 32px;
  color: blue;
  width: 90%;
}
.template2-career-viewer-item-stack{
  background: transparent;
  margin: 10px;
  font-size: 20px;
  width: 90%;
}
.template2-career-viewer-item-position{
  background: transparent;
  margin: 10px;
  font-size: 20px;
  width: 90%;
}