.search-button{
  background-color: transparent !important;
  border-color: transparent;
  outline: none;
  cursor: pointer;
}

.search-button:hover{
  /* todo ^^ */
}

.search-button-font{
  margin-right: 20px;
  font-size: 19px;
  color: gray;
} 

.search-button-input{
  font-size: 19px;
  background-color: floralwhite;
  border: none;
}


