.template2-aboutme-item-left-profile{
  background-color: rgb(240, 237, 233);
  height: 500px;
  margin-left: 50% !important;
  margin-top: 15% !important;
  box-shadow: 20px 20px 20px grey;
  vertical-align: bottom;
}

.template2-aboutme-item-left-profile-thumbnail-label{
  margin-top: 50px;
  border-radius: 50%;
  border: 1px solid rgb(133, 133, 133);
  height: 250px;
  width: 250px;
  text-align: center;
  cursor: pointer;
  /*background-image: url("../../factory/images/t2/avatar.jpg") !important;*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: 250px 250px;
}

.template2-aboutme-item-left-profile-name{
  background: transparent;
  width: 70%;
  height: 50px;
  font-family: "Noto Sans";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  padding-left: 30px;
  border-radius: 10px;
  border: 1px solid rgb(133, 133, 133);
}

.template2-aboutme-item-right-title{
  margin-top: 11%;
  margin-left: 12%;
  height: 65px;
  min-width: 70%;
  font-family: "Noto Sans";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  padding-left: 30px;
  border-radius: 10px;
  border: 1px solid rgb(133, 133, 133);
}
.template2-aboutme-item-right-skill{
  margin-top: 20px;
  margin-left: 12%;
  height: 65px;
  min-width: 70%;
  font-family: "Noto Sans";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  padding-left: 30px;
  border-radius: 10px;
  border: 1px solid rgb(133, 133, 133);
}
.template2-aboutme-item-right-intro{
  margin-top: 18px;
  margin-left: 12%;
  padding-top: 25px;
  height: 260px;
  width: 80%;
  font-family: "Noto Sans";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 3px;
  padding-left: 30px;
  border-radius: 10px;
  border: 1px solid rgb(133, 133, 133);
}

