.nav-init {
  height: 13%;
}
.nav-shrink {
  background-color: black !important;
  height: 8%;
}

.MuiAppBar-colorPrimary {
  background-color: transparent !important;
  webkit-transition: all 0.7s ease-in-out !important;
  transition: all 0.7s ease-in-out !important;
}
.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.img-init {
  top: 0;
  height: 10%;
  position: fixed;
  margin: 1%;
  webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.img-shrink {
  top: 0;
  height: 8%;
  position: fixed;
  webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.nav-ul{
  float: right;
}
.nav-li{
  align-items: center;
  display: inline;
}
.nav-link{
  font-size: 23px;
  width: 200px;
  color: gray;
  text-decoration: none;
  font-variant: small-caps;
  padding: 20px;
}
