.nav-init {
  position: fixed;
  height: 13%;
  background-color: black;
  webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.nav-shrink {
  position: fixed;
  height: 8%;
  background-color: black;
  webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.img-init {
  margin: 1%;
  position: fixed;
  height: 10%;
  webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.img-shrink {
  position: fixed;
  height: 8%;
  webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.nav-ul{
  float: right;
}
.nav-li{
  align-items: flex-end;
  display: inline;
}

.nav-link{
  font-size: 20px;
  width: 200px;
  color: gray;
  text-decoration: none;
  padding: 20px;
}
