.nav-init {
  height: 13%;
}
.nav-shrink {
  background-color: black !important;
  height: 8%;
}
.nav {
  height: 100%;
}
.MuiAppBar-colorPrimary {
  background-color: transparent !important;
  webkit-transition: all 0.7s ease-in-out !important;
  transition: all 0.7s ease-in-out !important;
}
.MuiPaper-elevation4 {
  box-shadow: none !important;
}

.img-init {
  top: 0;
  height: 10%;
  position: fixed;
  margin: 1%;
  webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.img-shrink {
  top: 0;
  height: 8%;
  position: fixed;
  webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

/*.nav-ul{*/
/*  float: right;*/
/*  margin: 0;*/
/*}*/
/*.nav-li{*/
/*  align-items: center;*/
/*  display: inline;*/
/*  margin-right: 20px;*/
/*  height: 20px;*/
/*}*/
/*.nav-link{*/
/*  font-size: 19px;*/
/*  width: 200px;*/
/*  height: 70px;*/
/*  !*font-weight: 00;*!*/
/*  color: gray;*/
/*  font-weight: 600;*/
/*  text-decoration: none;*/
/*  font-variant: small-caps;*/
/*  padding: 20px;*/
/*}*/
.navLink {
  text-decoration: none;
  color: white;
  font-size: 19px;
}
.padding {
  /*margin-right: 20px;*/
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-variant: small-caps;
  letter-spacing: 2px;
  width: 100px;
  text-align: center;
}
.padding:hover {
  border: 1px solid white;
  borderRadius: 30
}
.padding:active {
  border: 1px solid white;
}
